<div class="side-nav">
  <div>
    <a class="logo" routerLink="/">
      <img src="../../assets/icons/PMS.svg" alt="logo" />
    </a>
  </div>
  <div class="all-links">
    <a class="nav-item" routerLink="control-room" routerLinkActive="active">
      <img src="../../assets/icons/control-room.svg" alt="control-room" />
    </a>

    <a class="nav-item" routerLink="dashboard" routerLinkActive="active">
      <img src="../../assets/icons/dashboard.svg" alt="dashboard" />
    </a>

    <a class="nav-item" routerLink="elements" routerLinkActive="active">
      <img src="../../assets/icons/elements.svg" alt="elements" />
    </a>

    <a class="nav-item" routerLink="settings" routerLinkActive="active">
      <img src="../../assets/icons/settings.svg" alt="settings" />
    </a>

    <a class="nav-item" routerLink="notifications" routerLinkActive="active">
      <img src="../../assets/icons/notifications.svg" alt="notifications" />
    </a>
  </div>

  <app-logout></app-logout>
</div>
