$color-primary: #ff7f5c;
$color-secondary: #3d5161;
$bg-color: #f9f5f3;
$hover-color: #f4dbd4;

* {
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-color: #F9F5F3 !important;
}
app-side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5rem;
  background-color: $color-primary;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
app-header {
  color: #ec0000 !important;
  background-color: rgb(247, 160, 0) !important;
}

app-main {
  // height: calc(100vh - 4.85rem);
  // width: 100%;
  // position: absolute;
  margin: 6.5rem;
  // margin-top: 1rem;
}
